* {
    box-sizing: border-box;
}
:root {
    --dark:#08526d;
    --red:#ec1c23;
    --grag:#EEE
}

body {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    height: 5000px;
}
/* Start Upper Bar */
.upper-bar {
    background-color: var(--dark);
}
@media (max-width:767px) {
    .upper-bar .row div:first-child {
        text-align: center;
    }
    
    .upper-bar .row div:last-child {
        display: block !important;
        justify-content: stretch !important;
    }
}
.upper-bar .row div:last-child span:last-child {
    padding:5px;
    cursor: pointer;
}
/* End Upper Bar */
/* Start Navbar */
.navbar .navbar-brand span:first-child {
    color:var(--dark);
}
.navbar .navbar-brand span:last-child {
    color:var(--red);
    margin-left:-5px
}
.navbar .navbar-nav li a{
    color:var(--dark)
}
.navbar .navbar-nav .nav-link.active {
    color:var(--red);
    font-weight: bold;
}
/* End Navbar */
/* Start Slider */
.slider {
    background-color:var(--grag)
}
.slider .carousel-inner h1 {
    z-index: 2;
    max-width: 900px;
    font-size: 70px;
    left:300px;
    line-height: 1.4;
}
@media (max-width:767px) {
    .slider .carousel-inner h1 {
        left: 50%;
        transform: translateX(-50%);
        font-size: 35px;
        width: 300px;
    }
}
.slider .carousel-inner h1 span {
    background-color: var(--red);
    padding: 2px 2px 2px 0
}
.slider .carousel-inner .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.slider .carousel-item {
    background-size: cover;
}
.slider .carousel-inner .one {
    background-image: url('../img/slider01.jpg');
}
.slider .carousel-inner .two {
    background-image: url('../img/slider02.jpg');
}
.slider .carousel-inner .three{
    background-image: url('../img/slider03.jpg');
}

.carousel-indicators [data-bs-target] {
    background-color: transparent;
    border: 3px solid white;
}
.carousel-indicators [data-bs-target].active {
    background-color: white;
}
/* End Slider */
/* Start Features */
.features .feature svg {
    background-color: var(--red);
    width:30px;
    height:30px;
    padding:10px;
    font-size: 10px;
}
.features .feature h3 {
    color:var(--dark)
}
/* End Features */
/* Start Overview */
.overview {
    background-color: #f0f5f7;
}
.overview h2,
.overview p:last-of-type {
    letter-spacing: 2px;
}
.overview p:first-of-type {
    line-height: 1.8;
}
.overview button {
    background-color:var(--red);
    border:none;
    padding:4px 30px
}
/* End Overview */
/* Start Work */
.work h2,
.work ul li {
    letter-spacing: 2px;
}
.work p {
    line-height: 1.8;
}
@media (max-width:767px) {
    .work ul {
        flex-wrap: wrap;
    }
    .work ul li {
        margin-bottom: 10px;
    }
}
.work ul li {
    color:var(--dark);
    border:1px solid var(--dark);
    padding:5px 15px;
    cursor: pointer;
    transition: .5s
}
.work ul li.active,
.work ul li:hover {
    background-color: var(--red);
    color:white;
    border:none;   
}
@media (max-width:991px) {
    .work ul li {
        padding: 7px;
        letter-spacing: normal;
    }
}
.work .row {

    transition: .5s;
}
.work .box {
    transition: .5s;
    cursor: pointer;
}
.work .box:hover .overlay {
    transition: .5s;
    display: block;
}
.work .box .overlay {
    background-color: #08526dbf;
    transition: .5s;
    display: none;
}
.work .box .overlay::before {
    font-family: "Font Awesome 5 Free";
    content:"\f065";
    font-weight: 900;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size:50px;
    transition: .5s;
}
/* End Work */
/* Start Latest Posts */
.latest-post .row  {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding:20px 10px;
    transition:.5s;
    border-radius: 5px;
    background-color: #f0f5f7;
}
.latest-post .row:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.latest-post .row .post h5 {
    color:var(--dark);
}
.latest-post .row .post h6 {
    color:#BBB
}
.latest-post .row .post p {
    font-size: 15px;
    line-height: 1.6;
}
.latest-post .row .post a {
    text-decoration: none;
    color:var(--red);
    font-weight: bold;
}
/* Start Latest Posts */
/* Start Testimonails */
.testimonials .carousel .info {
    z-index: 2;
    color:white;
}
.testimonials .carousel .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
}
.testimonials .carousel-item  {
    background-size: cover;

}
.testimonials .carousel .one {
    position: absolute;
    background-image: url('../img/slider01.jpg');
    
}
.testimonials .carousel .two {
    background-image: url('../img/slider02.jpg');
}
.testimonials .carousel .three {
    background-image: url('../img/slider03.jpg');
}
.testimonials .carousel .person {
    top:50%;
    left:50%;
    z-index: 2;
    width:60%;
    transform: translate(-50%, -50%);
    color:white
}
/* End Testimonails */
/* Start Prices */
.prices h2 {
    letter-spacing: 2px;
}
.prices p:first-of-type {
    line-height: 1.8;
}
@media (min-width:768px) and (max-width:991px) {
    .plane {
        width:47%
    }
}
@media (min-width:992px) {
    .plane {
        width:30%
    }
}
.prices .title h6,
.prices .price {
    color:var(--dark);
}
.prices .title h6 {
    font-weight: bold;
    font-size: 25px;
}
.prices .price {
    font-size: 40px;
}
.prices .price span {
    font-size: 14px;
}
.prices .price.active {
    background-color: red;
    color:white;
    padding: 0;
}
.prices .plane.middle > a {
    background-color: var(--dark);
    
}
.prices a {
    background-color: red;
    color:white;
    padding: 10px 30px;
    cursor: pointer;
}
/* End Prices */